.Card {
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
    border: 3px red;
    margin: 10px;
}

.Card .Title {
    background-color: red;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content {
    background-color: #fff;
    color: #000;
    padding: 10px;
}